 <div class="container">
        <div class="module">

            <div class="row ">

                <div class="col-md-12"><p>Fire Doors London are a carpentry and joinery based company specializing in the supply, installation and upgrade of fire rated doors and fire rated partitions. We supply and install new fire rated doorsets and carry out upgrade works to existing doors to meet current fire regulations within commercial, industrial, educational and residential properties.</p></div>
               <!-- <div class="col-md-4">-->
              <!--  <div class=col-md-4" >
                    <div class="fdis_logo"></div>
                </div>
                <div class=col-md-4" >
                    <div class="howdens_logo"></div>
                </div>
                <div class=col-md-4" >
                <div class="certass_logo"></div>
                </div>
                <div class=col-md-4" >
                <div class="safe_contractor_logo"></div>
                </div>-->

              <!--  </div> -->

            </div>

            <div class="row navbuttons">



              <!--  <div class="col-md-2"><a href="/inspection"><button type="button" class="btn btn-danger">Inspection</button></a></div>
                <div class="col-md-2"><a href="/installation"><button type="button" class="btn btn-danger">Installation</button></a></div>
                <div class="col-md-2"><a href="/services"><button type="button" class="btn btn-danger">Services</button></a></div>
                <div class="col-md-2"><a href="/contact"><button type="button" class="btn btn-danger">Contact</button></a></div>
                <div class="col-md-2"><a href="/examples"><button type="button" class="btn btn-danger">Examples</button></a></div>-->

                <!--<div class="col-md-2"><a href="/inspection">Inspection</a></div>
                <div class="col-md-2"><a href="/installation">Installation</a></div>
                <div class="col-md-2"><a href="/services">Services</a></div>
                <div class="col-md-2"><a href="/contact">Contact</a></div>
                <div class="col-md-4"><a href="/examples">Examples</a></div>-->


            </div>
            <div class="col-sm-10 col-md-8 col-lg-6">

            </div>

            <div class="row copyright">
                Copyright Fire Door London 2015 &copy The content on this website is owned by us and our licensors. Do not copy any content (including images) without our consent.
            </div>
            <div class="version">v 0.0.5</div>

</div>
    </div>