<nav class="navbar navbar-default"role="navigation">
   <div class="navbar-header mt-header">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target="#nav-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            ￼</button>
       <!-- <a class="navbar-brand logo" href="/"></a>-->
    </div>
    <div class="collapse navbar-collapse" id="nav-toggle">
        <span class="title"><div class="fire_txt">Fire </div> Door London</span>
        <ul class="nav navbar-nav mainnav">

            <li class="active inspection navlist"><a href="/inspection">Inspection</a></li>
            <li class="installation"><a href="/installation">Installation</a></li>
            <li class="services"><a href="/services">Services</a></li>
            <li class="contact"><a href="/contact">Contact</a></li>
            <li class="examples"><a href="/examples">Examples</a></li>
          <!--  <li class="faqs"><a href="/faqs">FAQS</a></li>
            <li class="knowledgecentre"><a href="/knowledgecentre">Knowledge Centre</a></li>-->
        </ul>
        <div class="share navbar-right">
            <ul>
                <!-- <li class="share--item share--item-text">Share this business:</li>-->
                <li class="share--item share--item-plusone"><a class="sprite-gplus-circle trans-all" href="https://plus.google.com/share?url=http%3A%2F%2Ffiredoorlondon.co.uk" rel="nofollow">Share on Google+</a></li>
                <li class="share--item share--item-tweet"><a class="sprite-twitter-circle trans-all" href="https://twitter.com/intent/tweet?text=Fire%20Door%20London&amp;url=url=http%3A%2F%2Ffiredoorlondon.co.uk/contact" rel="nofollow">Share on Twitter</a></li>
                <li class="share--item share--item-like"><a class="sprite-facebook-circle trans-all" href="https://www.facebook.com/dialog/share?app_id=187617297948703&amp;display=popup&amp;href=https%3A%2F%2Ffiredoorlondon.co.uk&amp;redirect_uri=url=https%3A%2F%2Ffiredoorlondon.co.uk" rel="nofollow">Share on Facebook</a></li>
            </ul>
        </div>
       <!-- <form class="navbar-form navbar-right" role="search">
            <input type="text" class="form-control"
                   placeholder="Search">
        </form>-->
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</nav>